    
    <div class="panel panel-default" ng-controller="galeriaController as vm">
        <!-- Default panel contents -->
        <div class="panel-heading">
            {{vm.title}}
        </div>
            <div class="panel-body" >
                                    <div class="row">
                        <div class="col-md-2 col-xs-12">
                            <img src="../bosque.jpg" class=" img-thumbnail" ng-click="vm.alex('bosque.jpg', 'sm')" uib-tooltip="Bosque">
                        </div>
                        <div class="col-md-2 col-xs-12">
                            <img src="../desierto.jpg" class="img-thumbnail" ng-click="vm.alex('desierto.jpg', 'sm')">
                        </div>
                        <div class="col-md-2 col-xs-12">
                            <img src="../montaña.jpg" class=" img-thumbnail" ng-click="vm.alex('montaña.jpg', 'sm')">
                        </div>
                        <div class="col-md-2 col-xs-12">
                            <img src="../montañanevada.jpg" class=" img-thumbnail" ng-click="vm.alex('montañanevada.jpg', 'sm')">
                        </div>
                        <div class="col-md-2 col-xs-12">
                            <img src="../playa.jpg" class=" img-thumbnail" ng-click="vm.alex('playa.jpg', 'sm')">
                        </div>
                        <div class="col-md-2 col-xs-12">
                            <img src="../jungla.jpeg" class=" img-thumbnail" ng-click="vm.alex('jungla.jpeg', 'sm')">
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12 col-xs-6">
                            <div class="row">
                                <div class="col-md-4 col-xs-12">
                                    <img src="../bosque.jpg" class=" img-thumbnail" ng-click="vm.alex('bosque.jpg', 'lg')">
                                </div>
                                <div class="col-md-4 col-xs-12">
                                    <img src="../desierto.jpg" class="img-thumbnail" ng-click="vm.alex('desierto.jpg', 'lg')">
                                </div>
                                <div class="col-md-4 col-xs-12">
                                    <img src="../montaña.jpg" class=" img-thumbnail" ng-click="vm.alex('montaña.jpg', 'lg')">
                                </div>
                            </div>
                        </div>
                        <div class="col-md-12 col-xs-6">
                            <div class="row">
                                <div class="col-md-4 col-xs-12">
                                    <img src="../montañanevada.jpg" class=" img-thumbnail" ng-click="vm.alex('montañanevada.jpg', 'lg')">
                                </div>
                                <div class="col-md-4 col-xs-12">
                                    <img src="../playa.jpg" class=" img-thumbnail" ng-click="vm.alex('playa.jpg', 'lg')">
                                </div>
                                <div class="col-md-4 col-xs-12">
                                    <img src="../jungla.jpeg" class=" img-thumbnail" ng-click="vm.alex('jungla.jpeg','lg')">
                                </div>
                            </div>
                        </div>

                    </div>
            </div>
    </div>
    